@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Coupoz</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Coupons</h2>
        <p>
            Coupons is an application that
            helps you purchase coupons easly.          
        </p>
    </div>
    <div class="col-md-4">
        <h2>get coupons by your location </h2>
        <p>You can get coupons by your location</p>
        <p><a @Html.ActionLink("Get coupons", "Index", "CouponMaker") &raquo;</a></p>
        
    </div>
    <div class="col-md-4">
        <h2>get coupons by your favorite category</h2>
        <p>you can get coupons by your favorite categories</p>
        <p><a @Html.ActionLink("Get coupons", "Index", "CouponMaker") &raquo;</a></p>
    </div>
</div>