@model IEnumerable<Coupons.ViewModels.PurchaseDateGroup>

@{
    ViewBag.Title = "Cusotmer Body Statistics";
}

<h2>Cusotmer Statistics</h2>

<table>
    <tr>
        <th>
            Customers
        </th>
        <th>
            Age
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.CustomerCount
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
        </tr>
    }
</table>